/* 共通 */
.apply {
  margin-top: 160px;
  background-image: url(../../../images/taketomi-umi.jpg);
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply__wrap {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  text-align: center;
}

.apply__title {
  color: #85D2EB;
}

.apply__text {
  margin-top: 10px;
}

.apply__btn {
  display: block;
  width: 60%;
  background-color: #6BCF69;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 50px;
  font-weight: bold;
  color: #fff;
}

/* pc */
@media screen and (min-width: 796px) {
  .apply__wrap {
    width: 40%;
    padding: 60px 40px;
  }
}

/* sp */
@media screen and (max-width: 795px) {
  .apply__wrap {
    width: 70%;
    padding: 40px 40px;
  }
}